<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="header :: head"></div>
</head>
<body>
<div th:include="header :: navbar"></div>

<div id="mainBody">
    <div class="container">
        <div class="row">
            <!-- Sidebar ================================================== -->
            <div id="sidebar" class="span3">
                <div class="well well-small"><a id="myCart" href="product_summary.html"><img src="/img/ico-cart.png" alt="cart"/> Items in your cart  <span class="badge badge-warning pull-right">$0.0</span></a></div></div>
            <div class="span9">
                <ul class="breadcrumb">
                    <li><a href="index.html">Home</a> <span class="divider">/</span></li>
                    <li class="active"> SHOPPING CART</li>
                </ul>
                <h3>  SHOPPING CART [ <small> Item(s) </small>]<a href="products.html" class="btn btn-large pull-right"><i class="icon-arrow-left"></i> Continue Shopping </a></h3>
                <hr class="soft"/>

                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>Product</th>
                        <th>Description</th>
                        <th>Quantity/Update</th>
                        <th>Price</th>
                        <th>Total</th>
                    </tr>
                    </thead>
                    <tbody>
                    <div th:each="item:${cartItems}">
                        <tr>
                            <td> <img width="60" src="themes/images/products/4.jpg" alt=""/></td>
                            <td th:text="${item.getName()}"></td>
                            <td>
                                <div class="input-append"><input th:value="${item.getQuantity()}" class="span1" style="max-width:34px" placeholder="1" id="appendedInputButtons" size="16" type="text"/><button class="btn" type="button"><i class="icon-minus"></i></button><button class="btn" type="button"><i class="icon-plus"></i></button><button class="btn btn-danger" type="button"><i class="icon-remove icon-white"></i></button></div>
                            </td>
                            <td></td>
                            <td>$0.0</td>
                        </tr>
                    </div>
                        <tr>
                        <td colspan="6" style="text-align:right"><strong>TOTAL =</strong></td>
                        <td class="label label-important" style="display:block"> <strong> $0.0 </strong></td>
                        </tr>
                    </tbody>
                </table>

                <a href="products.html" class="btn btn-large"><i class="icon-arrow-left"></i> Continue Shopping </a>
                <a href="login.html" class="btn btn-large pull-right">Next <i class="icon-arrow-right"></i></a>

            </div>
        </div></div>
</div>
<!-- MainBody End -->
<!-- Footer  -->
<div  id="footerSection">
    <div class="container">
        <div class="row">
            <div id="socialMedia" class="span3 pull-right">
                <h5>SOCIAL MEDIA </h5>
                <a href="#"><img width="60" height="60" src="/img/facebook.png" title="facebook" alt="facebook"/></a>
                <a href="#"><img width="60" height="60" src="/img/twitter.png" title="twitter" alt="twitter"/></a>
                <a href="#"><img width="60" height="60" src="/img/youtube.png" title="youtube" alt="youtube"/></a>
            </div>
        </div>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
<script th:src="@{~/js/script.js}" type="text/javascript"></script>

</body>
</html>
